.about-title {
    font-family: 'Roboto', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-align: justify;
}