.contact {
    display: flex;
    justify-content: space-between;

    &-text {
        width: 70rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
    }

    &-form {
        &--item {
            display: block;
            margin-bottom: 1.8rem;
            height: 4rem;
            width: 60rem;
            padding-left: 2rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }

        &--message {
            display: block;
            margin-bottom: 1.8rem;
            height: 28rem;
            width: 60rem;
            padding-left: 2rem;
            resize: both;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            padding: 2rem;
        }
    }
}